/*
 * Copyright 2021 Cooker Devices
 */

#include "myb-imx8mm-base.dts"

/{
     display-subsystem {                                                                                
         status = "okay";
	};
    
        mipi_backlight0: mipi_backlight@0 {
                compatible = "pwm-backlight";
                pwms = <&pwm1 0 1000000 >; /*1KHZ*/
                enable-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>; 
                brightness-levels = < 0  1  2  3  4  5  6  7  8  9
                                10 11 12 13 14 15 16 17 18 19
                                20 21 22 23 24 25 26 27 28 29
                                30 31 32 33 34 35 36 37 38 39
                                40 41 42 43 44 45 46 47 48 49
                                50 51 52 53 54 55 56 57 58 59
                                60 61 62 63 64 65 66 67 68 69
                                70 71 72 73 74 75 76 77 78 79
                                80 81 82 83 84 85 86 87 88 89
                                90 91 92 93 94 95 96 97 98 99
                                100>;
                default-brightness-level = <100>;
        };
};

&lcdif{
	max-res = <800>, <1280>;
	status = "okay";
};

&iomuxc {
	imx8mm-evk {
		pinctrl_pwm1: mipi0pwm1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO01_PWM1_OUT 0x19
			>;
		};
               
	        pinctrl_wm8904_amp: wm8904_amp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD2_GPIO3_IO23       0x19
			>;
		};
	};

};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&iomuxc {
	imx8mm-evk {
                ilitek_ili2131_pins:pinctrl_ili2131grp {
                        fsl,pins = <
                                MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12   0x19  //reset pin
                                MX8MM_IOMUXC_SAI1_RXC_GPIO4_IO1      0x19  //interrupt pin
                        
                        >;
                };
                
                pinctrl_mipi_dsi_en: mipi_dsi_en {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27  0x19        0x00000116 //reset
		>;
	};
	};
};

/* touch */
&i2c3 {
        clock_frequency = <400000>;
        pinctrl-names = "default";
        status = "okay";

         ili2131: ili2131@41 { 
        compatible = "tchip,ilitek"; 
        reg = <0x41>; 
        pinctrl-names = "default";
        pinctrl-0 = <&ilitek_ili2131_pins>;

        interrupt-parent = <&gpio4>; 
        interrupts = <1 IRQ_TYPE_EDGE_FALLING>; 
        ilitek,irq-gpio = <&gpio4 1 IRQ_TYPE_EDGE_FALLING>; 
        ilitek,reset-gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>; 
        ilitek,name = "ilitek_i2c"; 

        touchscreen-swapped-x-y;
        touchscreen-revert-y;
        touchscreen-lcm-resolution;
        touchscreen-lcm-resolution-x = <1280>;
        touchscreen-lcm-resolution-y = <800>;

        }; 
};

&mipi_dsi {
	status = "okay";

	panel@0 {
	compatible = "yeebo,ili9881c";
	reg = <0>;
	backlight = <&mipi_backlight0>;
        };
};
